/* Journey to the Center of the Earth Practicum */
/* By Gokul Ram */

/* styling all structural elements */


header {
padding: 5px;
  text-align: center;
  background: rgba(118, 87, 41, 0.3);
  color: rgba(255, 255, 255, 10);
  font-size: 30px;
  margin: 0px;
  border: 10px solid rgb(118,87,41);
  background-repeat: no-repeat;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: inset 0 1em 1em rgba(00, 0, 0, 0.7);
}


main {
  background-color: rgba(118, 87, 41, 0.3);
  border: 10px solid rgb(118,87,41);
  background-repeat: no-repeat;
  font-size: medium;
  background-size: auto;
  padding: 25px;
  box-shadow: inset 0 1em 1em rgba(00, 0, 0, 0.4);
                     
  
}

nav {
    text-align: center;
    margin: 0px;
    border: 10px solid rgb(118,87,41);
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: inset 0 1em 1em rgba(00, 0, 0, 0.4);
    background-color: rgba(118, 87, 41, 0.3);
    }

    ul {
      
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        
      }
      
      li {
        float: left;
        border-right: 1px solid #000;
      }
      
      li a {
        display: block;
        color: rgba(0, 0, 0,100);

        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: rgb(136, 102, 68);
      }
      footer {
        padding: 5px;
          text-align: center;
          background: rgba(118, 87, 41, 0.3);
          color: rgba(255, 255, 255, 10);
          
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
          border: 10px solid rgb(118,87,41);
          box-shadow: inset 0 1em 1em rgba(00, 0, 0, 0.4);
        }

       figure {
          image-rendering: auto;
          width: 500px;
          margin: auto;
          display: flex;
          flex-direction: column;
         justify-content: center;
        }

        figcaption {
          
          text-align: center;
          font-style: italic;
          color: #000;
      
        }

        aside {
          padding: 5px;
            text-align: center;
            background: rgba(118, 87, 41, 0.3);
            color: rgba(0,0,0, 10);
            
            border: 10px solid rgb(118,87,41);
            box-shadow: inset 0 1em 1em rgba(00, 0, 0, 0.4);
          }
